<div class="p-10">
    <h1 class="text-center">Share on social media</h1>

    <div class="pt-5 flex gap-10">

   
        <div class="flex flex-col items-center space-y-2">
           <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.codewithzosh.com" target="_blank">
            <i class="fa fa-facebook-f text-4xl"></i>
        </a> 
        <p>Facebook</p>
        </div>

        <div class="flex flex-col items-center space-y-2">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.codewithzosh.com">
                <i class="fa fa-linkedin-square text-4xl" ></i>
            </a>
         <p>linkdin</p>
         </div>
        
         <div class="flex flex-col items-center space-y-2">
            <a href="https://twitter.com/intent/tweet?url=https://www.codewithzosh.com/&text=Check+out+this+post"><i class="fa fa-twitter text-4xl"></i></a>
         <p>twitter</p>
         </div>

         <div class="flex flex-col items-center space-y-2">
            <a href="whatsapp://send?text=Check+out+this+post%20https://www.codewithzosh.com">
                <i class="fa fa-whatsapp text-4xl"></i>
            </a>
         <p>whatsapp</p>
         </div>
    
        
    
    
      
    
    </div>

   
</div>

