<mat-card class="example-card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://res.cloudinary.com/ddkso1wxi/image/upload/v1701847458/Code%20with%20zosh/Code_With_Zosh_uzsejx.png"
      class="object-cover object-top"
    />
    <mat-card-title>{{ recipe.user.fullName }}</mat-card-title>
    <mat-card-subtitle>
      {{recipe.user.fullName}}
    </mat-card-subtitle>
  </mat-card-header>
  <img
    class="h-[22rem] object-cover"
    mat-card-image
    [src]="recipe.image"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <h2 class="pt-2 font-semibold">{{recipe.title}}</h2>
    <p >
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div>
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
        (click)="handleRecipeLike(recipe.id)"
      >
      @if(recipe.likes?.includes(user.id)){
        <mat-icon>favorite</mat-icon>
      }
      @else{
        <mat-icon>favorite_border</mat-icon>
      }
        
      </button>

      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a heart icon"
        (click)="openUpdateRecipeModal()"
      >
        <mat-icon >edit</mat-icon>
      </button>
      <button
        (click)="openDialog()"
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a heart icon"
        (click)="deleteRecipe(recipe.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
